* text=auto

*.sh text eol=lf
*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.c text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.cuh text eol=lf
*.cu text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
